.close {
    width: 15px;
    fill: $body;
    margin-left: auto;
    cursor: pointer;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    margin: 0 5% 5% 5%;
}

.actions {
    display: flex;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.header {
    padding: 0 5%;
    background: $accentPrimary;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
    height: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    align-items: center;
}

.title {
    font-weight: bold;
    color: $title;
}

.query {
    color: $accentPrimaryHover;
    font-size: $fontSizeSm;
}

.content {
    height: calc(100% - 50px - 30px);
}

.container {
    height: 100%;
}

.filterList {
    display: grid;
    grid-template-columns: repeat(auto-fill, 90px);
    font-size: 12px;
    grid-gap: 10px 10px;
    margin: 0 5% 20px 5%;
}

.filter {
    padding-bottom: 5px;
    cursor: pointer;
    text-align: center;
}

.filter:hover {
    color: $accentPrimaryHover;
}

.active {
    color: $accentPrimary;
    border-bottom: 2px solid $accentPrimary;
}

.emptyMsg {
    height: 50vh;
    display: flex;
    padding: 0 5%;
    justify-content: center;
    align-items: center;
}
